<div class="container" ng-controller="AdminController">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed table-sm">
				<tr ng-repeat="location in locale.locations" style="font-size: x-small">
					<td>{{location.locationId}}</td>
					<td>{{location.name}}</td>
					<td><button type="button" class="btn btn-default btn-xs" ng-click="focusLocation(location)">Focus</button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6" ng-if="focusedLocation">
			<div>{{focusedLocation.locationId}}</div>
			<div>
				<textarea rows="7" cols="50" ng-model="descriptionDto.description"></textarea>
				<button type="submit" class="btn btn-primary btn-xs" ng-click="updateLocation('UpdateLocationDescription',descriptionDto)" >Update</button>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed table-sm" ng-if="focusedLocation">
				<tr ng-repeat="beer in beers" style="font-size: x-small">
					<td>{{beer.id}}</td>
					<td>{{beer.beerName}}</td>
					<td><button type="button" class="btn btn-default btn-xs" ng-click="focusBeer(beer)">Edit</button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6" ng-if="focusedLocation && !focusedBeer">
			<div>
				<input type="text" ng-model="addBeerDto.beerName" placeholder="Beer name">
				<button type="submit" class="btn btn-primary btn-xs" ng-click="updateBeer('addBeer',addBeerDto)" >Add Beer</button>
			</div>
			
		</div>
		<div class="col-md-6" ng-if="focusedBeer">
			<div>{{focusedBeer.id}}</div>
			<div>
				<div>
					<textarea rows="7" cols="50" ng-model="beerDescriptionDto.description"></textarea>
					<button type="submit" class="btn btn-primary btn-xs" ng-click="updateBeer('UpdateBeerDescription',beerDescriptionDto)" >Update</button>
				</div>
				<div>
					<input type="text" ng-model="beerAbvDto.abv" placeholder="ABV">%
					<button type="submit" class="btn btn-primary btn-xs" ng-click="updateBeer('UpdateBeerAbv',beerAbvDto)" >Update</button>
				</div>
				<div>
					<input type="text" ng-model="beerIbuDto.ibu" placeholder="IBU">
					<button type="submit" class="btn btn-primary btn-xs" ng-click="updateBeer('UpdateBeerIbu',beerIbuDto)" >Update</button>
				</div>
				<div>
					<button class="btn btn-primary btn-xs" ng-click="updateLocation('BeerUnavailable',beerAvailableDto)" >Not available</button>
				</div>
			</div>
		</div>
	</div>

	
	<pre style="font-size: x-small">{{focusedBeer | json}}</pre>
	<pre style="font-size: x-small">{{focusedLocation | json}}</pre>

</div>

<!-- 
	<ng-include src="'resources/html/locationCommentModal.html'"></ng-include>
	<ng-include src="'resources/html/locationReviewModal.html'"></ng-include>
	<ng-include src="'resources/html/beerReviewModal.html'"></ng-include>
	<ng-include src="'resources/html/loginModal.html'"></ng-include>
 -->