<div>
	<div ng-if="beer.abv">
		<strong>ABV:</strong><i>{{beer.abv}}%</i>
	</div>
	<div ng-if="beer.ibu">
		<strong>IBU:</strong><i>{{beer.ibu}}</i>
	</div>
	
	<span ng-repeat="review in beer.professionalReviews">
		<a href="{{review.link}}">
			<div target="_blank" ng-if="review.ratingGroup == 'RATE_BEER'">Rate Beer score: {{review.rating}}</div>
			<div target="_blank" ng-if="review.ratingGroup == 'BEER_ADVOCATE'">Beer Advocate score: {{review.rating}}</div>
		</a>
	</span>
	<p>{{beer.description}}</p>
	<table class="table">
		<tr ng-repeat="review in beer.userReviews">
			<td>
				<div>
					<location-medal-img></location-medal-img>
					{{review.userScreenName}}
				</div>
				<div>{{review.review}}</div>
			</td>
		</tr>
	</table>
</div>