<nav class="navbar navbar-default" ng-controller="MainController" style="margin-bottom: 0px;">
	<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">Seattle Beer Tour</a>
			<button type="button" class="btn btn-primary btn-sm navbar-btn" data-toggle="modal" data-target="#loginModal" ng-if="!user.login">Sign
				in</button>
			<button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" ng-if="user.login">
				{{user.screenName}}
			</button>
			<ul class="dropdown-menu" style="margin-top: -5px;">
				<li class="disabled"><a href="#">Account Settings</a></li>
				<li class="disabled"><a href="#">Change Password</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
    	</div>
	</div>
</nav>