<p></p>
<div>
		<button type="button" class="close" aria-label="Close" ng-click="closeLocation()">
			<span class="location_close" aria-hidden="true">&times;</span>
		</button>
		<img ng-src='{{locationDetails.images.medium}}' ng-if="locationDetails.images">
		<h3>{{locationDetails.name}}
			<span ng-if="user.login">
				<span class="glyphicon glyphicon-star"
					aria-hidden="true" style="float: right; color: gold;"
					ng-if="isFavoriteLocation(locationDetails.locationId)" 
					ng-click="removeFavoriteLocation(locationDetails.locationId)"
					data-placement="top" title="Remove this from your favorites list"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"
					style="float: right" 
					ng-if="!isFavoriteLocation(locationDetails.locationId)"
					ng-click="addFavoriteLocation(locationDetails.locationId)"
					data-placement="top" title="Add this as a favorite brewery"></span>
			</span>
		
		
		</h3>
		<p>
			<location-large-medal-img></location-large-medal-img>
			<span ng-if="locationDetails.reviews.length == 0">No ratings</span>
			<span ng-if="locationDetails.reviews.length > 0">
				<a href="#" ng-click="toggleLocationComments()"">{{locationDetails.reviews.length}} ratings</a>
			</span>
			<span ng-if="isUserAndHasNotReviewedLocation()" style="float: right;">
				<a data-toggle="modal" data-target="#locationReviewModal" href="#">Rate!</a>
			</span>
		</p>
		<p ng-if="showLocationComments" class="container">
		<table class="comments_section">
			<tr ng-repeat="review in locationDetails.reviews">
				<td>
					<div>
						<location-medal-img></location-medal-img>
						{{review.userScreenName}}
					</div>
					<div>{{review.review}}</div>
				</td>
			</tr>
		</table>
		</p>
		<p>{{locationDetails.streetAddress}}, {{locationDetails.city}} WA&nbsp;&nbsp;{{locationDetails.postalCode}}</p>
		<p ng-if="locationDetails.website">
			<a target="_blank" href="{{locationDetails.website}}">{{locationDetails.website}}</a>
		</p>
		<p>{{locationDetails.description}}</p>
		
		<table class="table table-condensed" ng-if="locationDetails.beers.length > 0" style="width: 100%;">
			<tr>
				<th></th>
				<th>On tap</th>
				<th ng-if="hasAbv">ABV</th>
				<th ng-if="hasIbu">IBU</th>
				<th></th>
			</tr>
			<tr ng-repeat="(beerId,beer) in beers">
				<td>
					<span ng-if="user.login">
						<span class="glyphicon glyphicon-star"
							aria-hidden="true" style="float: right; color: gold;"
							ng-if="isFavoriteBeer(beerId)" 
							ng-click="removeFavoriteBeer(beerId)"
							data-placement="top" title="Remove this from your favorite beer list"></span>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"
							style="float: right" 
							ng-if="!isFavoriteBeer(beerId)"
							ng-click="addFavoriteBeer(beerId)"
							data-placement="top" title="Add this as a favorite beer"></span>
					</span>
				</td>
				<td>
					<a href="#" ng-if="beer.description" uib-popover-template="'resources/html/beer_details.html'" popover-title="{{beer.beerName}}"
						popover-placement="right" popover-trigger="focus"
						>{{beer.beerName}}</a>
					<span ng-if="!beer.description">{{beer.beerName}}</span>
				</td>
				<td ng-if="hasAbv"><span ng-if="beer.abv">{{beer.abv}}%</span></td>
				<td ng-if="hasIbu"><span ng-if="beer.ibu">{{beer.ibu}}</span></td>
				<td>
					<beer-medal-img></beer-medal-img>
				</td>
				<td>
					<span ng-if="isUserAndHasNotReviewedBeer(beerId)">
						<a data-toggle="modal" data-target="#beerReviewModal" href="#" ng-click="reviewBeer(beer)">Rate!</a>
					</span>
				</td>
			</tr>
		</table>
		<a data-toggle="modal" data-target="#locationCommentModal" href="#" style="float: right; color: #0000A5; margin-right: 10px;"
			data-placement="top" title="If you know something about this place that we don't, please let us know!">
			Did we miss something?
		</a>
			
</div>