<div ng-controller="MapController">
	<div>
		<div class="hidden-md hidden-lg" ng-if="locationDetails">
			<img src='{{locationDetails.images.medium}}'>
		</div>
		<div class="hidden-xs hidden-sm" ng-if="locationDetails"
			style="float: left; width: 400px;">
			<img src='{{locationDetails.images.medium}}'
				ng-if="locationDetails.images">
			<h3>
				{{locationDetails.name}} 
				<span class="glyphicon glyphicon-star"
					aria-hidden="true" style="float: right"
					ng-if="isFavorite(locationDetails.identifier)" 
					ng-click="removeFavorite(locationDetails.identifier)"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"
					style="float: right" 
					ng-if="!isFavorite(locationDetails.identifier)"
					ng-click="addFavorite(locationDetails.identifier)"></span>
			</h3>
			<p>{{locationDetails.description}}</p>
			<table ng-if="locationDetails.beers.length > 0">
				<tr>
					<th></th>
					<th ng-if="hasAbv">ABV</th>
					<th ng-if="hasIbu">IBU</th>
				</tr>
				<tr ng-repeat="beer in locationDetails.beers">
					<td>{{beer.name}}</td>
					<td ng-if="hasAbv"><span ng-if="beer.abv">{{beer.abv}}%</span></td>
					<td ng-if="hasIbu"><span ng-if="beer.ibu">{{beer.ibu}}</span></td>
				</tr>
			</table>
			<ul>
				</li>
			</ul>
		</div>
		<div id="map"></div>
	</div>
</div>