<div ng-controller="MapController">
	<div>
		<span ng-if="user.login">
			{{user.screenName}}
			<button class="btn btn-xs" ng-click="logout()">logout</button>
		</span>
		<span ng-if="!user.login">
			<button class="btn btn-xs" data-toggle="modal" data-target="#loginModal">login</button>
		</span>
	</div>
	<div>
		<div class="hidden-md hidden-lg" ng-if="locationDetails">
			<img ng-src='{{locationDetails.images.medium}}'>
		</div>
		<div class="hidden-xs hidden-sm container" ng-if="locationDetails"
			style="float: left; width: 400px;">
			<img ng-src='{{locationDetails.images.medium}}'
				ng-if="locationDetails.images">
			<h3>
				{{locationDetails.name}} 
<!-- 
				<span class="glyphicon glyphicon-star"
					aria-hidden="true" style="float: right; color: gold;"
					ng-if="isFavorite(locationDetails.locationId)" 
					ng-click="removeFavorite(locationDetails.locationId)"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"
					style="float: right" 
					ng-if="!isFavorite(locationDetails.locationId)"
					ng-click="addFavorite(locationDetails.locationId)"></span>
				<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="float: right; color: #0000A5; margin-right: 10px;"
					data-toggle="modal" data-target="#locationCommentModal"></span>
 -->
			</h3>
			<p>
				<img ng-src='resources/img/128x128_gold.png' style="width: 40px;">
				<span>No ratings</span>
				<span style="float: right;"><a href="#">Rate!</a></span>
			</p>
			<p>{{locationDetails.streetAddress}}, {{locationDetails.city}} WA&nbsp;&nbsp;{{locationDetails.postalCode}}</p> 
			<p ng-if="locationDetails.website"><a target="_blank" href="{{locationDetails.website}}">{{locationDetails.website}}</a></p> 
			<p>{{locationDetails.description}}</p>
			<table ng-if="locationDetails.beers.length > 0" style="width: 100%;">
				<tr>
					<th></th>
					<th ng-if="hasAbv">ABV</th>
					<th ng-if="hasIbu">IBU</th>
					<th ng-if="admin"></th>
				</tr>
				<tr ng-repeat="beer in locationDetails.beers">
					<td ng-if="!beerRemoved(beer.name)">{{beer.name}}</td>
					<td ng-if="beerRemoved(beer.name)"><strike>{{beer.name}}</strike></td>
					<td ng-if="hasAbv"><span ng-if="beer.abv && !beerRemoved(beer.name)">{{beer.abv}}%</span></td>
					<td ng-if="hasIbu"><span ng-if="beer.ibu && !beerRemoved(beer.name)">{{beer.ibu}}</span></td>
					<td ng-if="admin && !beerRemoved(beer.name)"><a style="color: red;" ng-click="removeBeer(beer.name)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
					<td ng-if="admin && beerRemoved(beer.name)"><a style="color: grey;" ng-click="reinstateBeer(beer.name)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a></td>
				</tr>
			</table>
			<a style="float: right; color: #0000A5; margin-right: 10px;" data-toggle="modal" data-target="#locationCommentModal" href="#">
				Did we miss something?
			</a>
			<pre ng-if="debug">{{debug | json}}</pre>
		</div>
		<div id="map"></div>
	</div>

	<ng-include src="'resources/html/locationCommentModal.html'"></ng-include>
	<ng-include src="'resources/html/loginModal.html'"></ng-include>
<!-- 
	<pre>{{locationDetails | json}}</pre>
 -->
	
</div>