<div>
	<ng-include src="'resources/html/header.html'"></ng-include>
	
	<div>
		<div ng-controller="LocationController">
			<div class="hidden-md hidden-lg container" ng-if="locationDetails" style="float: left; width: 100%">
				<div ng-controller="LocationController">
					<ng-include src="'resources/html/location.html'"></ng-include>
				</div>
			</div>
			<div class="hidden-xs hidden-sm container" ng-if="locationDetails" style="float: left; width: 400px;">
				<ng-include src="'resources/html/location.html'"></ng-include>
			</div>
		</div>

		<div id="map" ng-controller="MapController"></div>
	</div>

</div>
	<ng-include src="'resources/html/loginModal.html'"></ng-include>
	<ng-include src="'resources/html/locationCommentModal.html'"></ng-include>
	<ng-include src="'resources/html/locationReviewModal.html'"></ng-include>
	<ng-include src="'resources/html/beerReviewModal.html'"></ng-include>
